/* Louvado seja o Senhor */

.texto-lg{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.valor {
  padding: 1.8rem 0;
  color: var(--violeta-destaque);
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}